* {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
    outline: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button,input, textarea {
    outline: none;
    border: 0;
}
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
.clearfix{
    *zoom: 1;
}

.comment-box {
    width: 760px;
    margin-top: 1px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.comment-box .comment-edit-box {
    padding: 16px 24px 8px;
}

.comment-box .comment-edit-box .user-img {
    margin-right: 8px;
}

.comment-box .comment-edit-box .user-img img {
    float: left;
    margin-top: 2px;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
}
.comment-box .comment-edit-box .comment-content {
    float: left;
    width: 560px;
    height: 36px;
    position: relative;
    display: block;
    padding: 6px 8px;
    margin-left: 8px;
    border: 1px solid #dadde0;
    border-radius: 4px;
    resize: none;
    font-size: 14px;
    line-height: 22px;
    overflow: auto;
}
.comment-box .comment-edit-box .bt-comment-show {
    float: left;
    width: 80px;
    height: 36px;
    background-color: #e33e33;
    border-radius: 4px;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    margin-left: 8px;
    cursor: pointer;
}

.comment-list-box {
    padding: 0 24px;
    overflow: hidden;
}

.comment-line-box {
    margin: 15px 0;
    border-bottom: 1px solid #f7f7fc;
}

.comment-line-box img {
    float: left;
    margin-right: 8px;
    width: 24px;
    border-radius: 50%;
}

.comment-line-box .right-box {
    float: left;
    width: 90%;
    position: relative;
}

 .right-box .new-info-box {
    /* width: 640px; */
    line-height: 22px;
    margin-top: 8px;
}

.right-box span {
    margin-right: 8px;
}
.right-box .date {
    margin-left: 8px;
}

 .reply-box {
    width: 100%;
    display: none;
    margin-left: 32px;
    padding-left: 10px;
    border-left: 2px solid #f5f6f7;
}
.reply-box:hover .btn-reply{
    display: block;
}
.new-opt-box {
    float: right;
}
/*.comment-line-box:hover .btn-reply {*/
/*    display: block;*/
/*}*/
.btn-reply {
    display: none;
    cursor: pointer;
}
.close-reply {
    display: none;
    cursor: pointer;
}
.read-reply {
    cursor: pointer;
}