* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f4f4f4;
    overflow: hidden;
}
/* 清除浮动 */
.clearfix:after {
    content: "";
    display:block;
    clear:both;
    height:0;/*兼容旧浏览器*/
    visibility:hidden;/*兼容旧浏览器*/
}
.clearfix {
    *zoom:1;/*兼容IE6~7浏览器*/
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3399ea;
}
i {
    font-style: normal;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
/* 发布文章按钮 */
.publish button {
    height: 36px;
    font-size: 16px;
    color: #fff;
    padding: 0 16px;
    border-radius: 4px;
    background-color: #ca0c16;
    cursor: pointer;
}
.publish button:hover {
    background-color: #a11f16;
}
/* 模态框 */
.modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 999;
}
.modal-content {
    position: relative;
    width: 606px;
    margin: 7% auto 100px;
    background-color: #fff;
    padding: 24px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

}

.modal-content-head h3 {
    margin-bottom: 16px;
    font-size: 16px;
    color: #3c3c3c;
    line-height: 24px;
}
.modal-content-head button {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #ccc;
    width: 24px;
    height: 24px;
    padding: 2px;
}
.modal-content .modal-content-notice {
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    background: #fff6e5;
    color: #e33e33;
    font-weight: 400;
}
.modal-content .modal-content-notice i {
    display: inline-block;
    margin-left:13px;
    width: 14px;
    height: 14px;
    background: url("../images/warning.png") no-repeat;
    vertical-align: -2px;
}

.form-tag-box {
    margin: 1em 0;
    line-height: 32px;
}
.form-tag-box label {
    float: left;
    margin-right: 8px;
    font-size: .9rem;
    color: #4d4d4d;
}
.mark-selection {
    float: left;
    position: relative;
}
.form-tag-box button {
    position: relative;
    padding: 0 8px;
    height: 28px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e8e8ee;
    color: #555666;
    line-height: 28px;
    font-size: 14px;
}
.form-tag-box button:hover {
    color: #267dcc;
    background: rgba(38, 125, 204, .05);
}
.form-tag-box .add-tag {
    color: #267dcc;
    background: rgba(38, 125, 204, .05);
    cursor: initial;
    margin-right: 8px;
}
.add-tag .add-tag-close {
    color: #3485cf;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
}
.add-tag .add-tag-close:hover {
    border-radius: 50%;
    background-color: #267dcc;
    color: #fff;
}
.mark-selection-box {
    display: none;
    position: absolute;
    left: 0;
    top: 30;
    width: 444px;
    height: auto;
    z-index: 999;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    border: 1px solid #e3e3e3;
    padding: 10px 15px;
}
.mark-selection-box .close {
    position: absolute;
    right: 6px;
    top: 2px;
    font-size: 12px;
    color: #ccc;
    background-color: transparent;
    border: none;
}

.mark-selection-box-selectTag {
    padding-bottom: 5px;
    width: 100%;
    height: auto;
}
.mark-selection-box-selectTag span {
    font-size: 12px;
    color: #999;
    margin-left: -2px;
}
.mark-selection-box-selectTag .max-tag-num {
    display: none;
    color: #e70b0b;
}
.max-class-num {
    display: none;
    font-size: 14px;
    color: #ccc;
}
.mark-selection-box-input {
    height: 36px;
    width: 100%;
    margin-bottom: 10px;
}
.mark-selection-box-input input {
    height: 36px;
    padding-right: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    width: 100%;
}
.mark-selection-box .tags-items li{
    float: left;
    padding: 0 5px;
    border: 1px solid transparent;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #3d3d3d;
    margin-bottom: 10px;
    cursor: pointer;
}
.mark-selection-box .tags-items .isactive {
    background: #fcecea;
    border-right-color: #fff;
    border-left-color: #fff;
    color: #e33e33;
    border-radius: 2px;
    border: 1px solid #fcecea;
}
.mark-selection-box .tag-items-content div {
    display: none;
}
.mark-selection-box .tag-items-content ul li {
    float: left;
    padding: 0 8px;
    height: 24px;
    background: #f7f7fc;
    border-radius: 2px;
    border: 1px solid #e8e8ee;
    font-size: 12px;
    font-weight: 400;
    color: #4d4d4d;
    line-height: 24px;
    cursor:pointer;
    margin-right:10px;
    margin-bottom: 10px;
}
.mark-selection-box .tag-items-content .no-recomend-tag {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 400px;
    color: #999aaa;
    text-align: center;
}

.form-tag-box .icon {
    width: 14px;
    height: 18px;
    font-size: 20px;
    vertical-align: -2px;
    margin-right: 4px;
}
.form-tag-box label {
    float: left;
}
.form-tag-box .right {
    float: left;
    width: 480px;
    position: relative;
    overflow: hidden;
}
.right .add-tag span {
    border: none;
    outline: none;
}

.form-tag-box .right .max-class-num-mask {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background-color: hsla(0, 0%, 100%, .9);
}
.form-tag-box .right .max-class-num-mask .show-content{
    position: absolute;
    /* margin-top: -21px; */
    width: 100%;
    text-align: center;
}
/* .max-class-num-mask .show-content i {
  font-size: 20px;
  color: #e33e33;
} */
.max-class-num-mask .show-content p {
    color: #999aaa;
    font-size: 14px;
    margin: 3px 0;
}
.form-tag-box .right .tag-options-content {
    position: relative;
    height: 160px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #e8e8ee;
    padding: 0 16px;
}
.tag-options-content .tag-options-text {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #e8e8ee;
}
.tag-options-content .tag-options-text :nth-child(1){
    font-size: 14px;
    font-weight: 400px;
    color: #555666;
}
.tag-options-content .tag-options-text :nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    color: #ccccd8;
}
.tag-options-list {
    padding: 8px 8px 0 0;
    width: 454px;
    max-height: 117px;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}
.tag-options-list li {
    float: left;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;
    color: #606266;
    margin: 0 16px 8px 0;
}
.source-input {
    width: 404px;
    height: 32px;
    border-radius: 4px;
    background: #fafafa;
    border: 1px solid #ddd;
    padding-left: 10px;
    color: #4d4d4d;
}
.form-tag-box a {
    padding: 20px 0;
    font-size: 14px;
    margin-left: 9px;
}
.modal-content .article-type {
    width: 50%;
}
.form-tag-box select {
    height: 32px;
    width: 177px;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #999;
}
.form-tag-box .must {
    margin: 0 8px;
    font-size: 12px;
    color: #ca0c16;
}
.copyright_warning {
    margin-top: 8px;
    padding-left: 80px;
    font-size: 14px;
    color: #999aaa;
}
.copyright_warning i {
    display: inline-block;
    margin-left: 13px;
    width: 14px;
    height: 14px;
    background: url("../images/warning1.png") no-repeat;
    vertical-align: -2px;
}
.switch-box {
    line-height: 28px;
}
.switch-box li {
    float: left;
    height: 24px;
    font-size: 14px;
    margin-right: 20px;
    color: #555666;
}
.form-tag-box .tag-help {
    font-size: 14px;
}
.form-tag-box .icon-help {
    display: inline-block;
    margin-left: 13px;
    width: 14px;
    height: 14px;
    background: url("../images/help.png") no-repeat;
    vertical-align: -2px;
}
.modal-bottom {
    margin-top: 1.75rem;
    text-align: right;
}
.button {
    color: #333;
    background-color: transparent;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.btn-blue {
    color: #3399ea;
}
.btn-red {
.btn-red {
    padding: 6px;
    background: #fcecea;
    color: #e33e33;
}
.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 63%, .5);
    /* overflow: auto; */
}