<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/头条.css">
    <link rel="stylesheet" href="css/csdn.css">
</head>
<body>
<!-- 头部导航 -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">头条资讯</a>
            <p class="navbar-text">你关心的才是头条</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li th:if="${user} == null"><a href="/toLogin">写博客</a></li>
                <li th:if="${user} != null"><a href="/toWrite">写博客</a></li>

                <li class="dropdown xs">
                    <a href="#" class="dropdown-toggle" id="hg" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        消息
                    </a>
                    <ul class="dropdown-menu dropdown-menu-list" id="dropdown-menu-list">
                        <li><a href="#">公告</a></li>
                        <li><a href="#">评论</a></li>
                        <li><a href="#">关注</a></li>
                        <li><a href="#">点赞</a></li>
                        <li><a href="#">点赞</a></li>
                        <li><a href="#">私信</a></li>
                        <li><a href="#">回答</a></li>
                        <li><a href="#">系统通知</a></li>
                        <li><a href="#">消息设置</a></li>
                    </ul>
                </li>

                <li th:if="${user} == null"><a th:href="@{/toLogin}">登录/注册</a></li>
                <li th:if="${user} != null" class="dropdown xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="title-img">
                            <img th:src="${user.getHeadUrl()}" width="25px" class="user_tit">
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-list">
                        <li><a href="/toEditor">修改头像</a></li>
<!--                        <li><a href="#">我的收藏</a></li>-->
<!--                        <li><a href="#">个人中心</a></li>-->
                        <li role="separator" class="divider"></li>
<!--                        <li><a href="#">帐号设置</a></li>-->
<!--                        <li><a href="#">我的博客</a></li>-->
<!--                        <li><a href="#">管理博客</a></li>-->
<!--                        <li><a href="#">我的学院</a></li>-->
<!--                        <li><a href="#">我的下载</a></li>-->
<!--                        <li><a href="#">我的活动</a></li>-->
<!--                        <li role="separator" class="divider"></li>-->
<!--                        <li><a href="#">我的C币</a></li>-->
<!--                        <li><a href="#">订单中心</a></li>-->
<!--                        <li role="separator" class="divider"></li>-->
<!--                        <li><a href="#">帮助</a></li>-->
                        <li><a id="logout" href="/user/logout">退出</a></li>
                    </ul>
                </li>
<!--                <li><img th:if="${user} != null" th:src="${user.getHeadUrl()}" width="25px" class="user_tit"></img></li>-->
                </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- 主体部分 -->
<div class="w">
    <!-- 头条资讯 -->
    <div class="container-fluid hd">
        <div class="row">
            <i class="hd_icon"></i>
            <span class="hd_tt">头条资讯</span>
            <span class="hd_time">2020-02-08</span>
        </div>
    </div>
    <!-- 主体 -->
    <div th:each="map : ${mapMap.values()}" class="container-fluid bd">
        <!-- 行 -->
        <div class="row border_bottom">
            <!-- 图标 -->
            <div class="col-lg-1  col-md-1 col-xs-1 bd_icon">
                <div class="up_39">
                    <span  th:text="${map.get('blog').likeCount}"></span>
                    <!--                    39-->
                </div>
                <div class="down_39">
                    <span></span>
                </div>
            </div>
            <!-- 文字部分 -->
            <div class="col-lg-1 col-md-2 col-xs-2 bd_text">
                <div class="bd_text">
                    <a th:href="@{/toDetail(blogId=${map.get('blog').blogId})}" th:text="${map.get('blog').title}"></a>
                    <p th:text="${map.get('blog').summary}"></p>
                    点击量：<em th:text="${map.get('blog').hitCount}"></em>
                    <i></i>
                    <em th:text="${map.get('blog').commentCount}"></em>
                </div>

            </div>
            <!-- 右侧用户信息部分 -->
            <div class="col-lg-9 col-md-6 col-sm-4 col-xs-8 clearfix user_message">
                <div class="user">
                    <!--                <img src="./img/xzq.jpg" alt="" class="user_tit">-->
                    <img th:src="${map.get('user').headUrl}" width="30px" class="user_tit">
                    <p>
                        来自
                        <a href="#" th:text="${map.get('user').username}"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>