<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!-- 头部导航 -->
    <div th:replace="~{header :: myhead}"></div>
</head>
<body>

<!-- 主体部分 -->
<div class="w">
    <!-- 主体 -->
    <div th:each="notice : ${noticeList}" class="container-fluid bd">
        <!-- 行 -->
        <div class="row border_bottom">
            <!-- 文字部分 -->
            <div class="col-lg-1 col-md-2 col-xs-2 bd_text">
                <div class="bd_text">
                    <a th:href="@{/toNoticeDetail(noticeId=${notice.noticeId})}" th:text="${notice.noticeTitle}"></a>
                    <em th:text="${notice.noticeContent}"></em>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>