<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>注册</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">

<form class="form-signin" th:action="@{/register}">
    <img class="mb-4" th:src="@{/img/bootstrap-solid.svg}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">请注册</h1>

    <p th:if="${registerMsg != null}" th:text="${registerMsg}" style="color: red"></p>

    <input id="name" type="text" name="username" class="form-control" required="" autofocus="" placeholder="请输入账号">
    <input id="pwd1" type="password" name="password" class="form-control" required="" placeholder="请输入密码">
    <input id="pwd2" type="password" class="form-control" required="" placeholder="请再次输入密码">

    <button id="register" class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
</form>

<script>
    $(function () {
        $("#name").blur(function(){
            // 判断用户名是否合法
            var reg = new RegExp(/^[\da-zA-Z_]+$/);
            var name = $("#name").val();
            if (!reg.test(name)) {
                alert("账号只能为数字字母和下划线");
                $("#name").val("");
            }
            // 异步请求判断用户名是否已存在
            $.get({
                url: "/reg",
                data: {
                    username: $("#name").val()
                },
                success:function (data) {
                    // 状态码0为正常
                    var data = JSON.parse(data); //解析JSON字符串，构造由字符串描述的JavaScript值或对象
                    if (data.code != 0) {
                        alert(data.msg);
                        $("#name").val("");
                    }
                }
            });
        });

        // 判断密码是否合法
        $("#pwd1").blur(function(){
            var reg = new RegExp(/^[\da-zA-Z_]+$/);
            if (!reg.test($("#pwd1").val())) {
                alert("密码只能为数字字母和下划线");
                $("#pwd1").val("");
            }
        });
        // 判断第二次密码和第一次是否一致
        $("#pwd2").blur(function(){
            if($("#pwd1").val() != $("#pwd2").val()){
                alert("两次密码不一致");
                $("#pwd2").val("");
            }
        });
    });

</script>

</body>
</html>