<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}"/>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="/editormd/editormd.js"></script>

</head>
<body>

<input id="title" type="text" placeholder="请输入标题">

<input id="input" type="button" value="发布">

<div id="test-editor">
    <textarea style="display:none;"></textarea>
</div>

<script type="text/javascript">
    $(function() {
        var editor = editormd("test-editor", {
            width: "100%",
            height: 600,
            path: "/editormd/lib/", //依赖lib文件夹路径
            saveHTMLToTextarea : true
        });

        $("#input").click(function () {
            $.post({
                url: "/editormd",
                data: {
                    title: $("#title").val(),
                    // 存入子数据库的是markdown源码editor.getMarkdown()
                    editormd: editor.getMarkdown()
                },
                success: function () {
                    location.href="/";
                },
                error: function () {
                    alert("发送失败");
                }
            });

            //console.log(editor.getPreviewedHTML());
            //var md = editor.getMarkdown();
            //editor.markdownToHTML();
            // testEditormd = md.markdownToHTML("editor", {
            //     htmlDecode      : "style,script,iframe",  // you can filter tags decode
            //     emoji           : true,
            //     taskList        : true,
            //     tex             : true,  // 默认不解析
            //     flowChart       : true,  // 默认不解析
            //     sequenceDiagram : true,  // 默认不解析
            // });
        })
    });
</script>

</body>
</html>
