<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}"/>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="/editormd/editormd.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/foundation/5.5.3/css/foundation.min.css">
    <link rel="stylesheet" href="http://static.runoob.com/assets/foundation-icons/foundation-icons.css">
</head>

<body>
<form>
    <br>
    <div class="row">
        <div class="large-12 columns manager">
            <div class="row collapse prefix-radius">
                <div class="small-2 columns">
                    <span type="button" class="prefix "><i class="fi-arrow-left"></i>文章管理</span>
                </div>
                <div class="small-8 columns">
                    <input id="title" type="text" placeholder="请输入标题">
                </div>
                <div class="small-2 columns">
                    <ul class="button-group">
<!--                        <li><button  class="button  tiny save">保存</button></li>-->
                        <li><input id="input" class="button  tiny send  success" type="button" value="发送"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="test-editor">
    <textarea style="display:none;"></textarea>
</div>

<script type="text/javascript">
    $(function() {
        var editor = editormd("test-editor", {
            width: "100%",
            height: 600,
            path: "/editormd/lib/", //依赖lib文件夹路径
            saveHTMLToTextarea : true,
            // 图片上传
            imageUpload: true,
            imageFormats: ["png","bmp","jpg","jpeg","gif"],
            imageUploadURL: "/uploadEditorImage",
            onload : function() {
                console.log('onload', this);
            }
        });

        $("#input").click(function () {
            $.post({
                url: "/editormd",
                data: {
                    title: $("#title").val(),
                    // 存入子数据库的是markdown源码editor.getMarkdown()
                    editormd: editor.getMarkdown()
                },
                success: function () {
                    location.href="/";
                },
                error: function () {
                    console.log("发送失败");
                    alert("发送失败");
                }
            });
        })
    });
</script>

</body>
</html>
