<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.mapper.BlogMapper">
    <insert id="addBlog" parameterType="Blog">
        insert into Blog(title,article,summary,createDate,userId)
        values (#{title},#{article},#{summary},#{createDate},#{userId})
    </insert>
    <select id="selectBlogById" resultType="Blog">
        select * from blog
        where blogId = #{blogId}
    </select>

    <select id="selectBlogByUserIdAndOffset" resultType="Blog">
        select * from blog
        <if test="userId != 0">
            where userId = #{userId}
        </if>
        order by blogId desc
        limit #{offset},#{limit}
    </select>
    <select id="selectCommentCountByBlogId" resultType="_int">
        select commentCount from blog
        where blogId = #{blogId}
    </select>
    <update id="updateCommentCountByBlogId">
        update blog set commentCount = #{commentCount}
        where blogId = #{blogId}
    </update>
</mapper>