<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.mapper.BlogMapper">
    <sql id="sqlid">
        blog.blogId,title,summary,article,likeCount,hitCount,commentCount,blog.createDate,user.userId,username,headUrl,isLike
    </sql>
    <insert id="addBlog" useGeneratedKeys="true" keyProperty="blogId" parameterType="Blog">
        insert into Blog(title,article,summary,createDate,userId)
        values (#{title},#{article},#{summary},#{createDate},#{userId})
    </insert>

    <update id="updateBlog" parameterType="com.hzy.dto.BlogDTO">
        update Blog
        set title = #{title}, article = #{article}, summary = #{summary}
        where blogId = #{blogId}
    </update>

    <select id="selectBlogAll" resultType="Blog">
        select * from blog
    </select>

    <select id="selectBlogById" resultType="Blog">
        select * from blog
        where blogId = #{blogId}
    </select>

    <select id="selectBlogVOByBlogId" resultType="com.hzy.vo.BlogVO">
        SELECT
        <include refid="sqlid"/>
        FROM blog INNER JOIN user ON blog.userId = user.userId
        LEFT JOIN likerecord ON user.userId = likerecord.userId AND blog.blogId = likerecord.blogId
        where blog.blogId = #{blogId}
    </select>

    <select id="selectBlogByUserIdAndOffset" resultType="Blog">
        select * from blog
        <if test="userId != 0">
            where userId = #{userId}
        </if>
        order by blogId desc
        limit #{offset},#{limit}
    </select>

    <select id="selectBlogVOByUserIdAndOffset" resultType="com.hzy.vo.BlogVO">
        SELECT
        <include refid="sqlid"/>
        FROM blog INNER JOIN user ON blog.userId = user.userId
        LEFT JOIN likerecord ON user.userId = likerecord.userId AND blog.blogId = likerecord.blogId
        WHERE blog.userId = #{userId}
        order by blog.createDate desc
        limit #{offset},#{limit}
    </select>

    <select id="selectBlogVOByUserIdSortHitCount" resultType="com.hzy.vo.BlogVO">
        SELECT
        <include refid="sqlid"/>
        FROM blog INNER JOIN user ON blog.userId = user.userId
        LEFT JOIN likerecord ON user.userId = likerecord.userId AND blog.blogId = likerecord.blogId
        WHERE blog.userId = #{userId}
        order by blog.hitCount desc
        limit #{offset},#{limit}
    </select>

    <select id="selectNewestBlogVOByUserIdAndOffset" resultType="com.hzy.vo.BlogVO">
        SELECT
        <include refid="sqlid"/>
        FROM blog INNER JOIN user ON blog.userId = user.userId
        LEFT JOIN likerecord ON blog.blogId = likerecord.blogId AND likerecord.userId = #{userId}
        order by blog.createDate desc
        limit #{offset},#{limit}
    </select>

    <select id="selectIndexBlogVOByUserIdAndOffset" resultType="com.hzy.vo.BlogVO">
        SELECT
        <include refid="sqlid"/>
        FROM blog INNER JOIN user ON blog.userId = user.userId
        LEFT JOIN likerecord ON blog.blogId = likerecord.blogId AND likerecord.userId = #{userId}
        WHERE DATE_SUB(CURDATE(), INTERVAL 365 DAY) &lt;= date(blog.createDate)
        order by 100 * likeCount + hitCount DESC
        limit #{offset},#{limit}
    </select>

    <select id="selectFollowBlogVOByUserIdAndOffset" resultType="com.hzy.vo.BlogVO">
        SELECT
        <include refid="sqlid"/>
        FROM blog INNER JOIN user ON blog.userId = user.userId
        LEFT JOIN likerecord ON blog.blogId = likerecord.blogId AND likerecord.userId = #{userId}
        WHERE blog.userId IN (SELECT followUserId FROM follow WHERE userId = #{userId})
        limit #{offset},#{limit}
    </select>

    <select id="selectTodayBlogVOByUserIdAndOffset" resultType="com.hzy.vo.BlogVO">
        SELECT
        <include refid="sqlid"/>
        FROM blog INNER JOIN user ON blog.userId = user.userId
        LEFT JOIN likerecord ON user.userId = likerecord.userId AND blog.blogId = likerecord.blogId
        -- WHERE TO_DAYS(NOW())-TO_DAYS(createDate) = 1 -- 这里是今日推荐
        WHERE DATE_SUB(CURDATE(), INTERVAL 365 DAY) &lt;= date(blog.createDate)-- 这里是用来测试
        order by 100 * likeCount + hitCount DESC
        limit #{offset},#{limit}
    </select>

    <select id="selectBlogVOByLabelName" resultType="com.hzy.vo.BlogVO">
        SELECT
        <include refid="sqlid"/>
        FROM blog INNER JOIN user ON blog.userId = user.userId
        LEFT JOIN likerecord ON blog.blogId = likerecord.blogId AND likerecord.userId = #{userId}
        WHERE DATE_SUB(CURDATE(), INTERVAL 365 DAY) &lt;= date(blog.createDate)
        AND blog.blogId IN (SELECT label.blogId FROM label WHERE labelName = #{labelName})
        ORDER BY 100 * likeCount + hitCount DESC
        LIMIT #{offset},#{limit}
    </select>

    <select id="selectBlogVoByTypeNameAndOffset" resultType="com.hzy.vo.BlogVO">
        SELECT
        *
        FROM blog INNER JOIN user ON blog.userId = user.userId
        INNER JOIN newsblog.type ON blog.blogId = newsblog.type.blogId AND newsblog.type.typeName = #{typeName}
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectCommentCountByBlogId" resultType="_int">
        select commentCount from blog
        where blogId = #{blogId}
    </select>
    <update id="updateCommentCountByBlogId">
        update blog set commentCount = #{commentCount}
        where blogId = #{blogId}
    </update>
    <update id="updateHitCountByBlogId">
        update blog set hitCount = hitCount + 1
        where blogId = #{blogId}
    </update>
    <update id="updateLikeCountByBlogId">
        update blog set likeCount = #{likeCount}
        where blogId = #{blogId}
    </update>

    <select id="selectHitCountSumByUserId" resultType="_int">
        select sum(hitCount) from blog
        where userId = #{userId}
    </select>

    <select id="selectBlogCountSumByUserId" resultType="_int">
        select count(*) from blog
        where userId = #{userId}
    </select>

    <select id="selectLikeCountSumByUserId" resultType="_int">
        select count(*) from blog
        where userId = #{userId}
    </select>

</mapper>