<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.mapper.CollectMapper">
    <select id="selectCollectBlogByUserId" resultType="Blog">
        select * from blog
        where blogId in (select blogId from collect where userId = #{userId})
    </select>

    <select id="selectCollectCountByBlogId" resultType="_int">
        select count(*) from collect
        where blog = #{blogId}
    </select>
    <select id="selectCollectByUserIdAndBlogId" resultType="com.hzy.pojo.Collect">
        select * from collect
        where userId = #{userId} and blogId = #{blogId}
    </select>

    <insert id="addCollectBlog">
        insert into collect(userId,blogId)
        values (#{userId},#{blogId})
    </insert>

    <delete id="deleteCollectBlogByCollectId">
        delete from collect
        where userId = #{userId} and blogId = #{blogId}
    </delete>
</mapper>