<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.mapper.CommentMapper">
    <sql id="sqlid">
        commentId,content,createDate,blogId,parentId,user.userId,username,headUrl,userType
    </sql>
    <insert id="addComment" parameterType="Comment">
        insert into comment(content,createDate,blogId,userId,parentId)
        values (#{content},#{createDate},#{blogId},#{userId},#{parentId})
    </insert>
    <delete id="deleteCommentByCommentId">
        delete from comment
        where commentId = #{commentId}
    </delete>
    <select id="selectCommentByBlogId" resultType="Comment">
        select * from comment
        where blogId = #{blogId} and parentId = -1
        order by createDate desc
    </select>

    <select id="selectCommentCountByBlogId" resultType="_int">
        select count(commentId) from comment
        where blogId = #{blogId}
    </select>
    <select id="selectParentCommentVOByBlogId" resultType="com.hzy.vo.CommentVO">
        select
        <include refid="sqlid"/>
        from comment inner join user on comment.userId = user.userId
        where blogId = #{blogId} and parentId = -1
        order by createDate desc
        limit #{offset}, #{limit}
    </select>
    <select id="selectChildCommentVOByCommentId" resultType="com.hzy.vo.CommentVO">
        select
        <include refid="sqlid"/>
        from comment inner join user on comment.userId = user.userId
        where parentId = #{commentId}
        order by createDate desc
    </select>
    <select id="selectCommentByCommentId" resultType="Comment">
        select * from comment
        where commentId = #{commentId}
    </select>
</mapper>