<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.mapper.LabelMapper">
    <insert id="addLabel" parameterType="Label">
        insert into newsblog.label(labelName,userId,blogId)
        values (#{labelName},#{userId},#{blogId})
    </insert>
    <insert id="addBatchLabel" parameterType="Label">
        insert into newsblog.label(labelName, userId,blogId)
        values
        <foreach collection="list" item="label" separator=",">
            (#{label.labelName},#{label.userId},#{label.blogId})
        </foreach>
    </insert>
</mapper>