<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.mapper.RemindMapper">
    <insert id="addRemind" parameterType="Remind">
        insert into remind(remindContent,fromId,toId,blogId,createDate,state,remindType)
        values (#{remindContent},#{fromId},#{toId},#{blogId},#{createDate},#{state},#{remindType})
    </insert>
    <select id="selectCommentRemindByToId" parameterType="_int" resultType="Remind">
        select * from remind
        where toId = #{toId} and remindType = 1;
    </select>
    <select id="selectCommentRemindCountByToId" parameterType="_int" resultType="_int">
        select count(*) from remind
        where toId = #{toId} and state = 0 and remindType = 1;
    </select>
    <select id="selectLikeRemindByToId" parameterType="_int" resultType="Remind">
        select * from remind
        where toId = #{toId} and remindType = 0;
    </select>
    <select id="selectLikeRemindCountByToId" parameterType="_int" resultType="_int">
        select count(*) from remind
        where toId = #{toId} and state = 0 and remindType = 0;
    </select>
    <update id="updateRemindByRemindId" parameterType="_int">
        update remind set state = 1
        where remindId = #{remindId}
    </update>
    <update id="updateRemindByToId" parameterType="_int">
        update remind set state = 1
        where toId = #{toId}
    </update>
    <update id="updateLikeRemindByToId" parameterType="_int">
        update remind set state = 1
        where toId = #{toId} and remindType = 0
    </update>
    <update id="updateCommentRemindByToId" parameterType="_int">
        update remind set state = 1
        where toId = #{toId} and remindType = 1
    </update>
    <update id="updateRemindByFromIdAndBlogIdAndRemindType" parameterType="_int">
        update remind set state = 2
        where fromId = #{fromId} and blogId = #{blogId} and remindType = #{remindType}
    </update>
</mapper>
